<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dang nhap he thong</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
    <main class="page-shell">
        <section class="hero">
            <p class="eyebrow">Login</p>
            <h1>Dang nhap tai khoan</h1>
            <p class="hero-copy">Dang nhap bang username va password. Sau khi thanh cong he thong se chuyen ve trang /home.</p>
        </section>

        <section class="admin-form-shell">
            <p class="form-message error-message" th:if="${errorMessage}" th:text="${errorMessage}"></p>
            <p class="form-message success-message" th:if="${successMessage}" th:text="${successMessage}"></p>
               <form class="admin-form" th:action="@{/login}" method="post">
                <label>
                    Username
                    <input type="text" name="username" required>
                </label>

                <label>
                    Password
                    <input type="password" name="password" required>
                </label>

                <div class="admin-actions">
                    <a class="page-link" th:href="@{/courses}">Ve danh sach hoc phan</a>
                    <a class="page-link" th:href="@{/register}">Dang ky Student</a>
                    <button class="page-link page-number active" type="submit">Dang nhap</button>
                </div>
            </form>
        </section>
    </main>
</body>
</html>
